<footer class="border-top py-2">
    <div class="container-xxl">
        <div class="row text-center">
            <div class="col-md-6 text-lg-start my-2">
                <p class="m-0 pt-1 fs-6">©2020 All rights are reserved to the owner </p>
            </div>
            <div class="col-md-6 text-lg-end my-2">
                <a href="https://vipkisan.in" class="text-decoration-none">
                    <img class="me-2" src="{{ site.url }}/assets/images/vipkisan/powered-by-vipkisan/1.svg" height="32" alt="Powered By VIP KISAN" />
                    <img src="{{ site.url }}/assets/images/vipkisan/vipkisan-partner/1_lowercase.svg" height="32" alt="VIP KISAN Partner" />
                </a>
            </div>
        </div>
    </div>
</footer>