<div class="bg-light py-2 d-block d-sm-block d-md-none">
    <p class="p-1 my-0 container text-center">
        <a class="btn btn-outline-primary btn-sm me-3" href="https://play.google.com/store/apps/details?id=com.ksapps.viptractor&referrer=utm_source%3Dvkweb%26utm_medium%3Dnavbar%26utm_campaign%3Dvkapp%26anid%3Dadmob&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"
            target="_blank" rel="noopener">
            <i class="fas fa-google-play"></i>&nbsp;Google Play
        </a>
        <button class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#appStoreNotice">
                <i class="fas fa-app-store-ios"></i>&nbsp;App Store
            </button>
    </p>
</div>
<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 shadow-sm" style="background-color: #ffffff;">
    <p class="h5 my-0 me-md-auto fw-normal">
        <a class="navbar-brand fw-bold" style="color: #48487f;  font-family: 'Vollkorn', serif !important;" href="/">KISAN AGRICULTURE STORE</a>
    </p>
    <p class="py-0 my-0 d-none d-sm-none d-md-block d-lg-block d-xl-block d-xxl-block">
        <a class="btn btn-dark border-radius rounded-pill me-2" href="https://play.google.com/store/apps/details?id=com.ksapps.viptractor&referrer=utm_source%3Dvkweb%26utm_medium%3Dnavbar%26utm_campaign%3Dvkapp%26anid%3Dadmob&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"
            target="_blank" rel="noopener">
            <i class="fas fa-google-play"></i>&nbsp;Google Play
        </a>
        <button class="btn btn-dark border-radius rounded-pill" data-bs-toggle="modal" data-bs-target="#appStoreNotice">
                <i class="fas fa-app-store-ios"></i>&nbsp;App Store
            </button>
    </p>
</header>