<title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}" />
    <meta name="robots" content="all" />
    <meta content="en" property="og:locale" />
    <meta content="{{ site.sitename }}" property="og:site_name" />
    <meta content="website" property="og:type" />
    <meta content="{{ site.url }}{{ page.url }}" property="og:url" />
    <meta content="{{ page.title }}" property="og:title" />
    <meta content="{{ page.description }}" property="og:description" />
    <meta content="{{ page.og-image }}" property="og:image" />
    <meta content="1200" property="og:image:width" />
    <meta content="630" property="og:image:height" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@vipkisan" />
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:description" content="{{ page.description }}" />
    <meta name="twitter:image" content="{{ page.twitter-image }}" />
    <meta name="twitter:image:width" content="800" />
    <meta name="twitter:image:height" content="418" />
    <link href="{{ site.url }}{{ page.url }}" rel="canonical" />
    <link href="{{site.url}}" rel="home" />